<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Ding Test Suite" parallel="classes" thread-count="2" configfailurepolicy="continue">
    <test name="Ding tests" preserve-order="true">
        <classes>
            <class name="runner.DingRunner" />
        </classes>
    </test>
</suite>