<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Kneat Test Suite" parallel="methods" thread-count="1" configfailurepolicy="continue">
    <test name="Kneat tests" preserve-order="true">
        <classes>
            <class name="runner.TestRunner" />
        </classes>
    </test>
</suite>